.hero-wrapper {
    background: linear-gradient(135deg, #fff9f5, #fff);
    padding-top: 80px;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px 20px;
}

.hero h1 {
    font-size: 48px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    color: var(--gray);
    margin-bottom: 30px;
}

.hero img {
    border-radius: var(--radius);
    box-shadow: 0 20px 60px rgba(255, 107, 53, 0.3);
}

.hero-buttons {
    display: flex;
    gap: 15px;
    margin-bottom: 40px;
}

.hero-stats {
    display: flex;
    gap: 40px;
}

.hero-stats li {
    display: flex;
    flex-direction: column;
}

.hero-stats span {
    font-size: 14px;
    color: var(--gray);
}

.hero-stats strong {
    font-size: 28px;
    color: var(--primary);
}

.btn-outline {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background-color: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
}


@media (max-width: 480px) {
    .hero img{
        display: none;
    }

    .hero strong{
        font-size: 24px;
    }
 }