.logo {
    display: flex;
    gap: 4px;
    font-size: 24px;
    font-weight: 700;
}

header {
    position: fixed;
    inset: 0 0 auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5%;
    background-color: #fff;
    box-shadow: var(--shadow);
    z-index: 99;
}

.navbar {
    display: flex;
    gap: 30px;
}

.navbar a {
    font-weight: 600;
    transition: .5s;
}

.navbar a:hover {
    color: var(--primary);
    transform: translateY(-2px);
}

.compras {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sacola {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: .5s;
}

.sacola:hover {
    filter: brightness(.9);
    transform: translateY(-2px);
}


@media (max-width: 480px) {
    .navbar{
        display: none;
    }

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 700;
    }

    .btn-pedir{
        font-size: 15px;
        padding: 12px 6px;
    }
}