.sidebar {
    position: fixed;
    top: 80px;
    right: 0;
    width: 80%;
    max-width: 500px;
    height: calc(100vh - 80px);
    background-color: black;
    z-index: 9999;
    transform: translateX(100%);
    transition: transform 0.4s ease;
}

.sidebar.open {
    transform: translateX(0);
}


.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}