.sobre {
    display: flex;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
    padding: 80px 5%;
    background-color: var(--light);
}

.sobre img{
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

.sobre h2{
    font-size: 36px;
    margin-bottom: 20px;
}

.sobre article{
    color: var(--gray);
    margin-bottom: 30px;
}

.sobre ul{
    display: flex;
    flex-direction: column;
}


@media (max-width: 480px) {
    .sobre{
        flex-direction: column;
    }
 }